.container {
  width: 1120px;
  margin: 0 auto;
}
.main {
  text-align: center;
  width: 1120px;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  margin-bottom: 500px;
  //   grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item:hover {
  cursor: pointer;
  opacity: 0.5;
}
