.main {
  width: 1120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.picture {
  display: flex;
  flex-direction: column;
  color: red;
  justify-content: space-around;
}
