$font-stack: Arial, Helvetica, sans-serif;

@mixin breakpoint($point) {
  @if $point == mobile {
    @media (min-width: 320px) and (max-width: 480px) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 481px) and (max-width: 767px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  } @else if $point == pc {
    @media (min-width: 1025px) {
      @content;
    }
  }
}

$color_main: #f5ce00;
$color_item: rgba(255, 172, 10, 0.6);
$font-main: 14px;

.main {
  font-family: $font-stack;
  margin: 0 auto;
  max-width: 1200px;
  .pokemon {
    &_icon {
      display: grid;
      list-style-type: none;
      grid-template-columns: 1fr 1fr 1fr;
    }
    &_li {
      border: 1px solid blue;
      text-align: center;
      .image {
        display: flex;
        margin: 0 auto;
      }
    }
    &_li:hover {
      cursor: pointer;
      background-color: gray;
      transform: scale(1, 1.1);
      transition: 0.2s;
      // box-shadow: 10 0 0 1px red;
    }
    &_input {
      display: flex;
      justify-content: center;
    }
  }
}
