.main {
  // background-color: red;
  // height: 500px;
  // display: flex;
  .nuoc {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    font-size: 15px;
  }
  .li:hover {
    cursor: pointer;
    color: white;
  }
  img {
    width: 100px;
    height: auto;
    margin: 5px;
  }
}
